$correct-color: #5cb85c;
$incorrect-color: #d9534f;

.quizzerator {
	margin-left: 140px;

	code {
		font-family: Courier;
		color: black;
		font-size: 100%;
	}

	&.single-view {
		ol.quiz-holder {
			position: relative;
			min-height: 500px;
			overflow: hidden;

			border: 2px solid black;
			border-radius: 15px;

			li.question {
				position: absolute;

				&:not(.current) {
					left: 20000px;
				}
			}
		}

		.quiz-title .position-label {
			float: right;
		}

		#controls {
			margin-bottom: 15px;
		}
	}

	&:not(.single-view) {
		#controls {
			display: none;
		}

		.position-label {
			display: none;
		}
	}
}

ol.quiz-holder {
	li {
		font-size: 1.5em;
	}

	.checker {
		margin-top: .5em;

		&.inactive {
			visibility: hidden;
		}

		p.hint {
			display: none;
			font-size: .75em;
			margin-top: 10px;
			margin-left: 25px;
		}

		p.explanation {
			text-indent: -8px;
		}
	}
}

li.question {
	padding: .5em 0 .5em 0;

	&[data-correct=false] {
		p.response.selected {
			background-color: $incorrect-color !important;
		}
	}

	&[data-correct=true] {
		p.response.selected {
			background-color: $correct-color !important;
		}
	}

	ol.answers-holder {
		list-style-type: lower-alpha;
		position: relative;

		li {
			font-size: .75em;
			position: relative;

			p.response {
				display: inline-block;
				margin: -5px 0 5px 0;
				padding: 5px 10px;
				cursor: pointer;
				vertical-align: top;

				&:hover:not(.selected) {
					background-color: #bcbfff;
					border-radius: 15px;
				}

				&.selected {
					background-color: #ffff82;
					border-radius: 15px;
				}

				code {
					// this was preventing word-wrap of code responses:
					//white-space: pre;
				}
			}

			.icons {
				position: absolute;
				height: 100%;
				left: -65px;
				top: 50%;
			}

			i.icon {
				transform: translateY(-50%);

				&.correct {
					color: $correct-color;
				}

				&.incorrect {
					color: $incorrect-color;
				}
			}
		}
	}
}

.summary {
	z-index: 100;
	background-color: #7374A9;
	position: absolute;
	left: 60px;
	top: 140px;
	padding: 15px 0 15px 0;
	border-radius: 15px;
	box-shadow: -2px 4px 12px #333;
	transition: height linear .5s, top linear .5s;

	h3 {
		margin-top: 0;
		text-align: center;
		color: white;
		font-size: 125%;
		font-weight: 400;
	}

	&.affix {
		top: 0;
		position: fixed;
	}

	table.results {
		width: 100px;
		background-color: #f0f0ff;
	}

	table.results {
		td, th {
			padding: 3px;
		}

		th {
			background-color: black;
			color: white;
			text-align: center;
		}

		td:nth-child(2) {
			text-align: right;
			min-width: 3em;
			border-left: 1px solid #999;
		}

		tr.answered {
			background-color: white;
		}

		tr.total {
			background-color: #d3d3d3;
		}
	}

	button {
		margin-top: 1em;
		opacity: 0;
		transition: opacity linear .5s;

		&.unhidden {
			opacity: 1;
		}

		&.shrunk {
			display: none;
		}
	}
}