$correct-color: #5cb85c;
$incorrect-color: #d9534f;

.quizzerator {
	margin-left: 140px;

	code {
		font-family: Courier;
		color: black;
		font-size: 100%;
	}

	&.single-view {
		margin-left: 0;

		ol.quiz-holder {
			position: relative;
			overflow: hidden;
			min-height: 400px;

			border: 2px solid black;
			border-radius: 15px;

			list-style-type: none;

			padding-right: 20px;

			li.question {
				margin-bottom: 10px;
				position: relative;
				padding-left: 5px;

				&:not(.current) {
					display: none;
				}

				&::before {
					content: attr(data-number);
					position: absolute;
					width: 40px;
					left: -40px;
					overflow: hidden;
					text-align: right;
					top: 11px;
				}
			}
		}

		&.grading {
			ol.quiz-holder {
				li.question {
					&:not(.current) {
						display: block;
					}
				}
			}

			.summary {
				display: block;
			}

			#previous-button, #next-button, #submit-button, #clear-button {
				display: none;
			}
		}

		.quiz-title .position-label {
			float: right;
		}

		#controls {
			margin-bottom: 55px;
			display: flex;

			button {
				margin-right: 5px;
			}

			#clear-button {
				background-color: pink;
				margin-right: auto;

				&:hover {
					background-color: #d09da6;
				}
			}

			#submit-button {
				margin-left: auto;
				margin-right: 0;
			}
		}

		.summary {
			display: none;

			position: relative;
			left: auto;
			top: auto;
			background: none;
			border-radius: 0;
			max-width: 500px;
			margin: 0 auto 50px auto;
			padding: 0;

			h3 {
				background-color: black;
				margin: 0;
				padding: 15px 0;
				color: white;
			}

			.results {
				width: 100%;
				border-top: 2px solid black;
				border-bottom: 2px solid black;
			}

			button {
				display: none;
			}
		}
	}

	&:not(.single-view) {
		#controls {
			display: none;
		}

		.position-label {
			display: none;
		}

		.attempts {
			display: none;
		}
	}

	.matching-line {
		border-top: 3px dotted #b3b8c1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}

	table.matrix-table {
		width: 100%;
		margin-right: 15px;
		margin-bottom: 20px;

		& th {
			text-align: center;
		}

		tr {
			position: relative;
		}

		& td.user-entry {
			position: relative;
			text-align: center;

			&.empty:after {
				border: 2px dashed orange;
			}

			&:after {
				z-index: -1;
				position: absolute;
				top: 50%;
				left: 50%;
				display: inline-block;
				content: "";
				width: 50px;
				height: 1.4em;
				transform: translate(-50%, -50%);
			}

			&.over {
				&:after {
					background: yellow;
				}
			}
		}

		& th, & td {
			line-height: 1em;
			padding: 10px 0;
		}

		& tfoot td {
			text-align: center;
		}

		.icons {
			position: absolute;
			left: -45px;
			height: 100%;
		}

		i.icon {
			transform: translateY(-50%);

			&.correct {
				color: $correct-color;
			}

			&.incorrect {
				color: $incorrect-color;
			}
		}
	}

	button.matrix-choice {
		display: inline-block;
		margin-right: 15px;
	}
}

ol.quiz-holder {
	li {
		font-size: 1.5em;

		// don't number quizzes with only 1 question
		&:only-child {
			list-style-type: none;

			p {
				margin-left: -40px;
			}
		}
	}

	.checker {
		margin-top: .5em;

		&.inactive {
			visibility: hidden;
		}

		p.hint {
			display: none;
			font-size: .75em;
			margin-top: 10px;
			margin-left: 25px;
		}

		p.explanation {
			text-indent: -8px;
		}

		.btn-reveal, .btn-reset {
			margin-top: 10px;
			margin-left: 10px;
		}
	}
}

li.question {
	position: relative;
	padding: .5em 0 .5em 0;

	&[data-correct] {
		.selected.response[data-correct=true] {
			background-color: $correct-color !important;
		}

		.selected.response[data-correct=false] {
			background-color: $incorrect-color !important;
		}
	}

	&.matching {
		.matching-container {
			display: flex;
			margin-top: 20px;
		}

		ol.answers-holder {
			list-style-type: none;
			flex: 1;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		ol.choices-holder {
			list-style-type: none;
			flex: 1;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		ol.choices-holder, ol.answers-holder {
			li .response {
				text-align: left;

				&:hover {
					background-color: #ffcb69;
					border-radius: 15px;
				}
			}
		}

		.instructions {
			font-size: small;
			margin: 0 0 20px 0;
			text-align: center;
			padding-bottom: 5px;
			border-bottom: 3px solid #44bb22;

			&:before {
				content: "Start by clicking any item to match:";
				display: block;
			}

			&.instruct-complete {
				&:before {
					content: "";
					display: block;
				}
			}

			&.instruct-left {
				margin-right: 50%;

				&:before {
					content: "Now click the matching item from this column:";
					display: block;
				}
			}

			&.instruct-right {
				margin-left: 50%;

				&:before {
					content: "Now click the matching item from this column:";
					display: block;
				}
			}
		}
	}

	&:not(.matching) {
		ol.answers-holder, ol.choices-holder {
			li {
				.response {
					&:hover:not(.selected):not(.matched) {
						background-color: #bcbfff;
						border-radius: 15px;
					}
				}
			}
		}
	}

	ol.answers-holder, ol.choices-holder {
		list-style-type: lower-alpha;
		position: relative;

		li {
			font-size: .75em;
			position: relative;

			.response {
				display: inline-block;
				margin: -5px 0 5px 0;
				padding: 5px 10px;
				cursor: pointer;
				vertical-align: top;
				color: black;
				border: 1px solid black;

				&:not(:hover):not(.selected) {
					background: none;
					border: 1px solid transparent;
				}

				&.selected {
					background-color: rgba(255, 255, 100, .5);
					border-radius: 15px;
				}

				code {
					// this was preventing word-wrap of code responses:
					//white-space: pre;
				}

				&.matched {
					border-radius: 15px;
				}

				&.matched-color1 {
					background-color: rgba(255, 0, 0, 0.21);
				}

				&.matched-color2 {
					background-color: rgba(0, 128, 0, 0.2);
				}

				&.matched-color3 {
					background-color: rgba(0, 0, 255, 0.2);
				}

				&.matched-color4 {
					background-color: rgba(255, 255, 0, 0.2);
				}

				&.matched-color5 {
					background-color: rgba(255, 165, 0, 0.2);
				}

				&.matched-color6 {
					background-color: rgba(128, 0, 128, 0.2);
				}

				&.matched-color7 {
					background-color: rgba(0, 255, 255, 0.2);
				}

				&.matched-color8 {
					background-color: rgba(173, 216, 230, 0.2);
				}

				&.matched-color9 {
					background-color: rgba(240, 128, 128, 0.2);
				}

				&.matched-color10 {
					background-color: rgba(128, 0, 128, 0.2);
				}
			}

			.icons {
				position: absolute;
				height: 100%;
				left: -65px;
				top: 50%;
			}

			i.icon {
				transform: translateY(-50%);

				&.correct {
					color: $correct-color;
				}

				&.incorrect {
					color: $incorrect-color;
				}
			}
		}
	}

	.checker-label {
		display: none;
		margin-left: 1em;
		font-size: small;
		font-style: italic;
	}
}

.summary {
	z-index: 100;
	background-color: #7374A9;
	position: absolute;
	left: 60px;
	top: 140px;
	padding: 15px 0 15px 0;
	border-radius: 15px;
	box-shadow: -2px 4px 12px #333;
	transition: height linear .5s, top linear .5s;

	h3 {
		margin-top: 0;
		text-align: center;
		color: white;
		font-size: 125%;
		font-weight: 400;
	}

	&.affix {
		top: 0;
		position: fixed;
	}

	table.results {
		width: 100px;
		background-color: #f0f0ff;
	}

	table.results {
		td, th {
			padding: 3px;
		}

		th {
			background-color: black;
			color: white;
			text-align: center;
		}

		td:nth-child(2) {
			text-align: right;
			min-width: 3em;
			border-left: 1px solid #999;
		}

		tr.answered {
			background-color: white;
		}

		tr.total {
			background-color: #d3d3d3;
		}
	}

	button {
		margin-top: 1em;
		opacity: 0;
		transition: opacity linear .5s;

		&.unhidden {
			opacity: 1;
		}

		&.shrunk {
			display: none;
		}
	}
}

/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
	/*display: block;*/ // CB commented this out to make <code> blocks possibly inline
	overflow-x: auto;
	/*padding: 0.5em;*/ // CB also commented this out to avoid spacing overlaps
	background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
	color: #444;
}

.hljs-comment {
	color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
	font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
	color: #880000;
}

.hljs-number {
	color: #3FA070;
}

.hljs-string {
	color: #456EC8;
}

.hljs-keyword {
	color: #277022;
}

.hljs-title,
.hljs-section {
	color: #880000;
	font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
	color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
	color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
	color: #1f7199;
}

.hljs-meta-string {
	color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
