h3 {
	margin-bottom: 1em;
	text-align: center;
}

.password-form {
	margin-top: 2em;
}

table.comments {
	th:nth-child(8), th:nth-child(9) {
		text-align: center;
	}
}

.ok-row {
	input {
		cursor: pointer;
	}
}

.options {
	margin: 0 10px 15px 10px;

	input {
		margin-left: 1em;
	}
}

.moderator {
	#no-unmoderated-comments {
		display: none;
		margin-left: 10px;
		font-style: italic;
	}
}

.progressCircle {
	position: fixed;
	transform-origin: center center;
	width: 175px;
	height: 175px;
	left: calc(50% - 87px);
	top: calc(50% - 80px);
	transition: transform .25s ease-in-out, opacity 2s ease-in-out;
	opacity: 0;

	.pill {
		transform-origin: center 57px;
		position: absolute;
	}
}