/******************************************************************************************************/
/* CUP change/new/delete styling START */
/******************************************************************************************************/

/*
Update History:
*/

.table-b.update-history {
    table-layout: auto;
    color: black;
}

.table-b.update-history ul {
    color: black;
}

.table-b.update-history td:first-child {
    white-space: nowrap;
    padding: 0 .5em;
}

.table-b.update-history tr:nth-child(odd){
    background: white !important;
}

.table-b.update-history tr:nth-child(even){
    background: #E7E7FF !important;
}

.table-b.update-history tr.major-row {
    background-color: #ee8d21 !important;
}

/*
Content flags and styles:
*/

ol.list-no-style li.cup-change:not(.no-badge), ol.list-no-style li p.cup-change:not(.no-badge) {
    margin-left: -.5em;
}

ol.list-no-style li.cup-change:not(.no-badge):after, ol.list-no-style li p.cup-change:not(.no-badge):after {
    left: -1em;
    top: -1em;
}

div.cup-change:not(.no-badge), li.cup-change:not(.no-badge), p.cup-change:not(.no-badge) {
    border-left: 4px solid #BEF3BC;
    padding-left: .5em;
    margin-top: 1.5em;
    position: relative;
}

div.cup-change:not(.no-badge):after, p.cup-change:not(.no-badge):after, li.cup-change:not(.no-badge):after, figure.cup-change:not(.no-badge):before, section.cup-change:not(.no-badge):after {
    content: "Updated";
    display: block;
    position: absolute;
    left: -1.5em;
    top: -2em;
    padding: 0 1em;
    border-radius: 1em;
    font-size: 10px;
    background-color: #3B3F63;
    color: #D3E4E4;
    text-indent: 0;
}

figure.cup-change:not(.no-badge) img {
    margin-top: 2em;
}

ol li.cup-change:not(.no-badge):after, ol figure.cup-change:not(.no-badge):after {
    content: "Updated";
    display: block;
    position: absolute;
    left: 1em;
    top: -2em;
    padding: 0 1em;
    border-radius: 1em;
    font-size: 10px;
    background-color: #3B3F63;
    color: #D3E4E4;
    text-indent: 0;
}

body.cup-change:not(.no-badge):before {
    content: "Updated";
    display: block;
    position: absolute;
    left: 0em;
    top: 0em;
    padding: 0 1em;
    border-radius: 1em;
    font-size: 10px;
    background-color: #3B3F63;
    color: #D3E4E4;
}

span.cup-change:not(.no-badge) {
    background-color: #BEF3BC;
}

span.cup-new:not(.no-badge) {
    background-color: #E8DB18;
}

div.cup-new:not(.no-badge), li.cup-new:not(.no-badge), p.cup-new:not(.no-badge) {
    border-left: 4px solid #E8DB18;
    padding-left: 8px;
    margin-left: -8px;
    position: relative;
}

p.cup-new:not(.no-badge):before {
    left: -.5em;
    top: 3em;
}

section.cup-new:not(.no-badge) {
    position: relative;
    border-left: 4px solid #E8DB18;
    padding-left: 4px;
    margin-left: -4px;
}

section.cup-new:not(.no-badge):before {
    left: -.5em;
    top: 3em;
}

section.cup-change:not(.no-badge) {
    position: relative;
}

body.cup-new:not(.no-badge):before {
    left: .5em;
    top: .5em;
}

figure.cup-delete:not(.no-badge):before {
    left: -2.5em;
    top: -1em;
}

body.cup-delete:not(.no-badge):before, figure.cup-delete:not(.no-badge):before {
    content: "Deleted";
    display: block;
    position: absolute;
    padding: 0 1em;
    border-radius: 1em;
    font-size: 14pt;
    background-color: #FF0000;
    color: #DAE423;
    transform: rotate(-15deg);
    left: .5em;
    top: .5em;
}

figure.cup-new:not(.no-badge):before {
    left: -2.5em;
    top: -2em;
}

body.cup-new:not(.no-badge):before, section.cup-new:not(.no-badge):before, figure.cup-new:not(.no-badge):before, p.cup-new:not(.no-badge):before, aside.cup-new:not(.no-badge):before, h2.cup-new:not(.no-badge):before {
    content: "New";
    display: block;
    position: absolute;
    padding: 0 .5em;
    border-radius: 1em;
    font-size: 14pt;
    background-color: #E8DB18;
    color: #9C5110;
    transform: translate(-3em, -3em) rotate(-15deg);
    text-indent: 0;
}

aside.cup-new:not(.no-badge) {
    position: relative;
}

aside.cup-new:not(.no-badge):before {
    left: 5px;
    transform: translateX(-100%) rotate(-15deg);
}

h2.cup-new:not(.no-badge) {
    position: relative;
}

h2.cup-new:not(.no-badge):before {
    top: 2em;
}

ol figure.cup-new:not(.no-badge):before {
    content: "New";
    display: block;
    position: absolute;
    padding: 0 1em;
    border-radius: 1em;
    font-size: 14pt;
    background-color: #E8DB18;
    color: #9C5110;
    transform: rotate(-15deg);
    text-indent: 0;
    margin-left: -40px;
    margin-top: 10px;
}

span.cup-delete:not(.no-badge) {
    text-decoration: line-through;
}

p.cup-delete:not(.no-badge) {
    max-height: 1.4em;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    text-decoration: line-through;
    position: relative;
    padding-left: 5px;
    border-left: 5px solid red;
}

p.cup-delete:not(.no-badge):before {
    content: "Deleted";
    display: inline-block;
    padding: 0 .5em;
    border-radius: 1em;
    font-size: 12pt;
    background-color: #FF0000;
    color: #DAE423;
    margin-right: .5em;
}

p.cup-delete:not(.no-badge):hover {
    max-height: 1000px;
    text-decoration: none;
}

/*****************************************************************************************************/
/* CUP change/new/delete styling END */
/*****************************************************************************************************/