@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@font-face{font-family:'wf_segoe-ui_normal';src:url('https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot');src:url('https://i.s-microsoft.
com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix') format('embedded-opentype'),url('https://i.s-microsoft.com/fonts/segoe-ui/west-
european/normal/latest.woff') format('woff'),url('https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf') format('truetype'),url('https://i.s-
microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web') format('svg');font-weight:normal;font-style:normal}

$video-background-color: white;
$blue-color: #719db7;
$quiz-color: #569E39;
$button-blue: #337ab7;

html.ui {
	overflow: hidden;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.skin-Microsoft {
	font-family: 'wf_segoe-ui_normal', 'Segoe UI', Tahoma, Arial, sans-serif;

	button.btn {
		border-radius: 0;

		-webkit-box-shadow: none;
		box-shadow: none;
		background-image: none;
	}

	.input-group-addon {
		border-radius: 0;
	}

	input {
		border-radius: 0;
	}

	.progress {
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;

		.progress-bar-warning {
			background-image: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	.search-results {
		background-color: white;

		.row {
			background-color: #CD4800;
		}

		.search-result-list .selected {
			background-color: #3B6DCB;
			p {
				color: white;
			}
		}
	}

	.btn-info {
		background-color: #4F9CF6;
	}
}

.col-xs-0 {
	float: left;
	width: 0;
}

#main {
	opacity: 0;
}

#header-nav {
	margin-bottom: 0;
}

#contents {
	transition: width .5s linear;

	padding: 0;

	#contents-pane {
		border-right: 1px solid #ccc;

		.toc-label {
			margin-bottom: 0;
		}

		li {
			cursor: pointer;
			padding-left: 20px;
			padding-bottom: 5px;
		}

		.toc-label:not(.nav-header) {
			font-weight: 400;
		}

		// only display the badge for new/updated top-level sections
		.toc-label a .desc {
			.badge {
				display: inline-block !important;
			}
		}

		.badge {
			&.new {
				background-color: #E8DB18;
				color: #9C5110;
			}

			&.change {
				background-color: #92DCA6;
				color: #2C6767;
			}

			&.delete {
				background-color: #FF0000;
				color: #DAE423;
			}
		}

		a {
			display: table-row;
			color: $blue-color;
			/*padding-left: 30px;*/

			span.desc {
				display: table-cell;

				.badge:not(.delete) {
					display: none;
				}

				&.deleted {
					color: red;
					text-decoration: line-through;
				}
			}
		}

		.toc-label {
			a {
				&.active {
					span {
						color: black;
					}
				}
			}
		}
	}
}

.video-holder {
	height: 100%;
	width: 100%;
	display: block;
	/*
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	*/
	position: relative;

	&.has-transcript.transcript-visible .video-player {
		height: 75%;
	}

	&:not(.has-transcript) .vjs-transcript-button {
		display: none;
	}

	.video-player {
		height: 100%;
		transition: height 1s linear;
	}

	.video-transcript {
		height: 25%;
		transition: height 1s linear;
		padding: 10px 25px;
		border-top: 2px solid #5D5B61;
		overflow: scroll;
		z-index: 5;

		p {
			display: inline;

			&:after {
				content: " ";
				display: inline;
			}

			&:hover {
				background-color: #b1c1ff;
				cursor: pointer;
			}
		}

		p.current {
			background-color: #fffdab;
		}

		br {
			content: " ";

			&:after {
				content: " ";
			}
		}
	}
}

.video-holder:not(.has-transcript) .video-transcript {
	display: none;
}

.iframe-holder {
	height: 100%;
	overflow: hidden;

	& > div.the-iframe-holder {
		max-width: 1024px;
		margin: 0 auto;
		background-color: white;
		height: 100%;
		/*
		-webkit-overflow-scrolling: touch;
		overflow: scroll;
		*/
	}

	iframe {
		width: 100%;
		height: 100%;
		display: block !important;
		overflow: visible;
	}
}

body.skin-Microsoft .iframe-holder {
	& > div {
		max-width: 65rem;
	}
}

video {
	&::cue {
	}
}
#video {
	padding: 0;
	
	transition: width .5s linear;
	
	background-color: #E5F0F1; //$video-background-color;

	overflow: hidden;
	/*-webkit-overflow-scrolling: touch;*/

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.overlay-block {
			position: absolute;
			top: 0;
			left: 0;
			border: 2px solid #779;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, .75);
			color: white;
			margin: 10px;
			padding: 5px;
			cursor: pointer;
			z-index: 1000;
			
			&:hover {
				background-color: black;
				border-color: white;
			}
		}
	}
	
	video {
		width: 100%;
		background-color: $video-background-color;
	}
}

.video-holder.has-transcript .overlay {
	height: 75% !important;
}

.code-listing {
	position: relative;
}

.btn-clipboard, .btn-download {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	color: #767676;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 0 4px 0 4px;
	
	&:hover {
		color: #fff;
		background-color: #563d7c;
		border-color: #563d7c;
	}
}

#sidebar {
	padding: 0;
	display: none;

	pre {
		word-wrap: normal;
		margin-top: 1em;
		position: relative;
	}
	
	#asset-buttons {
		padding: 10px 0;
		.btn.active.focus, .btn.focus {
			outline: none;
		}
	}

	.nav-header {
		text-transform: none;
		font-weight: normal;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		min-height: 40px;

		span:not(.tree-toggler) {
			line-height: 1;
			display: inline-block;
		}

		.tree-toggler {
			color: black;
		}

		.timestamp {
			position: absolute;
			top: 27px;
			left: -30px;
		}
	}

	.nav-tabs > li.active > a {
		background-color: #eee;
	}
	
	.tab-pane.active {
		background-color: #eee;
	}
	
	.border {
		border-top: none;
		border-left: 2px solid #337ab7;
		border-right: 2px solid #337ab7;
		border-bottom: 2px solid #337ab7;
		border-radius: 10px 10px 0 0;
		padding-bottom: 20px;
	}
	
	.scroller {
		height: 100%;
		padding: 5px;
		border-left: 1px solid #ccc;
	}

	.resource-list {
		a {
			color: $blue-color;
		}

		li {
			&:hover, &:hover:focus {
				text-decoration: none;
				background-color: #ccc;
			}
		}

		li.current {
			background-color: rgb(231, 219, 218);
			border-radius: 5px;
		}
	}
}

.scroller {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

.nav-list {
	position: relative;

	li.active {
		background-color: rgb(240, 240, 247);
	}
	
	.divider {
		box-sizing: content-box;
		height: 1px;
		margin: 9px 1px;
		overflow: hidden;
		background-color: #e5e5e5;
		border-bottom: 1px solid #fff;
	}

	& > li > .toc-label > a {
		&:active, &.active {
			background-color: #C1C0E7;
			color: rgb(25, 24, 50);
		}
	}

	& > li > a {
		padding: 3px 0;
		margin-left: 0;
		
		/* // NOTE: Added this because elements using animate.css were disappearing */
		animation-fill-mode: none;
		-webkit-animation-fill-mode: none;
		
		&:hover, &:hover:focus {
			text-decoration: none;
			background-color: #ccc;
		}

		&:focus {
			background: none;
		}

		&:active, &.active {
			background-color: #C1C0E7;
			color: rgb(25, 24, 50);
		}
	}

	.nav-header:hover > a > button.download-button {
	}

	li:hover > a > button.download-button {
	}

	.header {
		font-weight: bold;
		color: #333;

		.desc {
			color: #1D1A58;
		}
	}
}

.tree-toggler {
	cursor: pointer;
	margin-right: 6px;
}

.short.invisible {
	display: none;
}

ul.toc-holder {
	margin: 5px 55px 5px 0px;
	padding-right: 0;

	.download-button {
		position: absolute;
		right: -58px;
		top: 50%;
		transform: translateY(-50%);
	}
}

#header-nav {
	.download-button {
		margin-left: 10px;
	}
}

// THEORY: put all completed marks /after/ the description
.checked {
	color: orange;
	position: absolute;
	top: 0;
	right: -20px;
	//left: -15px;
	//top: 6px;
	//font-size: 16px;
	margin-left: .5em;
	margin-top: 3px;
}

.nav-list .nav-header {
	/*
	margin-right: -15px;
	margin-left: -8px;
	*/
}

.nav-header {
	display: block;
	/*padding: 3px 8px;*/
	font-size: 13px;
	/*margin: 0;*/
	font-weight: normal;
	line-height: 20px;
	color: #999;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-transform: uppercase;
	position: relative;
}

.toc {
	overflow: hidden;

	.dropper {
		position: absolute;
		top: 4px;
		left: -14px;

		&.opened {
			display: inline-block;
		}

		&.closed {
			display: none;
		}

		&:hover {
			transform: scale(1.5);
		}
	}
}

.navbar-brand {
}

#search-bar {
	margin-right: 10px;
	padding-right: 0;
}

#text-area {
}

.trackalert {
	transition: transform .5s ease-in-out, opacity .5s ease-in-out;

	span {
		font-size: 12px;
		line-height: 1em;
	}

	&.x-hidden {
		transform: translateX(25px);
		opacity: .5;
	}

	&.current {
		border-color: black;
	}
}

[data-notify="progressbar"] {
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	display: none;
}

[data-notify="container"] {
	max-width: 350px;
}

.level {
    display: block;
	background-color: $blue-color;
	color: white;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 3px;
	vertical-align: middle;
	padding: 0 6px 0 6px;
	text-align: center;
}

#toc-toggler {
	margin: 8px 0 0 8px;

	&:focus {
		outline: none;
	}

	&.open {
		background: white !important;
		color: $button-blue !important;
	}
}

#show-menu-button {
	padding: 6px 12px;

	background-color: #337ab7;
}

#resource-toggler {
    margin: 8px 8px 0 0;

	&:focus {
		outline: none;
	}

	&.open {
		background: white !important;
		color: $button-blue !important;
	}
}

span.completed {
	font-weight: 200;
	color: rgb(189, 163, 173);
}

.video-js {
    width: 100% !important;
	height: 100% !important;
	display: block;
}

/*
.video-js:after {
    content: '.';
    display: block;
    position: relative;
    padding: 55% 0 0 0;
    margin: 0 0 0 -100%;
    visibility: hidden;
}
*/

.vjs-poster {
	background-color: $video-background-color;
}

.sandbox {
	cursor: pointer;
}

.tiny-thumbnail {
	width: 100%;
}

.quiz {
	color: $quiz-color !important;
}

.quiz-background {
	background-color: $quiz-color;
}

#main_iframe {
	/*
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	*/
	width: 100%;
	height: auto;
	display: none;
}

.course-progress {
	text-align: center;
	margin: 0;
	padding: 12px;
	background-color: #e0e0e0;

	.progress {
		position: relative;
		margin-bottom: 0;
		font-size: 11px;
		line-height: 20px;
		color: rgb(129, 129, 134);

		#completed-progress {
		}

		&:after {
			content: attr(data-progress);
			display: block;
			position: absolute;
			left: 0;
			right: 0;
		}
	}
}

#collapse-button {
	margin-right: 10px;
}

#collapsible-menu.in {
	.input-group {
		padding-bottom: 8px;
	}
}

.vjs-back-button {
	cursor: pointer;

	&:hover:not(:active) {
		color: white;
	}

	&:before {
		font-family: FontAwesome !important;
		content: "\f0e2";
	}
}

.vjs-transcript-button {
	cursor: pointer;
	float: right !important;

	&:hover:not(:active) {
		color: white;
	}

	&:before {
		font-family: FontAwesome !important;
		content: "\f02d";
	}
}

#main_video {
	.vjs-tip {
		font-size: 14px;
		line-height: 1.3;

		.vjs-tip-inner {
			padding: 1em;
		}
	}
}

.blocky {
	color: #959595;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1em;
}

// HABITAT includes:

.button-a {
	width: 100%;
	display: block;
	color: #007db6;
	text-align: left;
	background: #e5f2f7;
	text-decoration: none;
	text-transform: none;
	padding: 20px 3em 20px 20px;
	border-radius: 3px;
	border-bottom: 3px solid #007db6;
	background-position: right 13.3333px top 50%;
	background-size: auto 1.5em;
	background-repeat: no-repeat;
	background-image: url(images/icon-arrow-black.svg);
	font-size: 14px;

	&.header-prev-button {
		background-position: left 13.3333px top 50%;
		background-image: url(images/icon-arrow-black-back.svg);
		padding-left: 4em;
	}

	&:hover {
		background: #A2D1E7;
	}

	h4 {
		margin-top: initial;
		margin-bottom: initial;
		font-weight: bold;
		font-family: inherit;
	}
}

.habitat-html {
	overflow: scroll;
	height: 100%;
}

.habitat-body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;

	&:not(.xs) {
		margin-left: 5em !important;
		margin-right: 5em !important;
	}

	&.xs {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	figure:not(.figure-table) {
		max-width: 600px;
		margin: 2.5em auto;

		figcaption {
			margin-top: 2em;
		}
	}

	pre {
		font-family: Courier;
		font-size: 80%;
		margin: 0 !important;
	}

	.code-snippet, .code-listing {
		margin-bottom: 1.5em;
	}

	.objectiveset {
		/*float: right;*/
	}

	span.highlight {
		background-color: yellow;
	}

	.comment-anchor {
		font-family: "Material Icons";
		display: block;
		position: absolute;
		left: 5px;
		color: #288C32;
		cursor: pointer;

		&:hover {
			color: #3acb48;
		}
	}

	// ePUB overrides:

	.sidebar-g, .sidebar-r {
		.title {
			font-size: 150%;
			margin-bottom: 1em;
		}
	}

	// Microsoft doesn't want images scaled down to fit
	&:not(.skin-Microsoft) {
		div.image img {
			max-width: 50%;
			max-height: 50%;
		}
	}
}

.habitat-body.skin-Microsoft {
	.button-a {
		width: auto;
	}
}

.image_popup {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		height: 100%;
	}
}

.search-results {
	display: none;
	background-color: #F7E1D1;

	.row {
		background-color: rgb(232, 100, 20);
	}

	.input-group {
		border: none;
		background: none;
	}

	input {
		background: none;
		color: white;
		z-index: auto !important;
	}

	h3 {
		margin: 0;
		padding: .5em 0 .5em .5em;
		color: white;

		input {
			display: inline-block;
		}
	}

	.btn-toolbar {
	}

	.search-result-list {
		padding-left: 0;

		.hit {
			padding: .5em 1em;
			position: relative;

			p {
				margin-bottom: 0;
			}

			&:nth-child(odd) {
				background-color: #eee;
			}

			&:hover {
				background-color: rgb(174, 147, 133);
				color: white;
				cursor: pointer;
			}

			.section-label {
				width: 5em;
				display: inline-block;
				vertical-align: top;
				color: #7775CA;
				position: absolute;
				left: 1em;
			}

			.hit-label {
				width: 100%;
				padding-left: 5em;
				left: 0;
				display: inline-block;
			}

			&.selected {
				background-color: #e5cfc7;
			}
		}
	}
}

#hit-count {
	color: #193E0A;
	line-height: 30px;
	margin-bottom: 0;
}

div.indicator {
	transform: translateX(-200px);
	transition: transform linear .5s;
}

.toc .current > a .desc, .toc .current > .toc-label > a .desc {
	div.indicator {
		width: 100%;
		content: "";
		display: block;
		height: 2px;
		background-color: #719db7;
		transform: translateX(0px);
	}
}

button#search-close {
	background: transparent;
	color: white;
	text-shadow: none;
}

.download-button {
	padding: 0 4px;
	z-index: 1;

	&:focus, &:active {
		outline: none !important;
	}
}

// make room for the download button
.has-download {
	/*padding-right: 45px;*/
}

/* loading indicator: */

.loading-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(2) translate(-25%, -25%);
	pointer-events: none;
	display: none;
}

.sk-circle {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: green;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg); }
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg); }
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); }
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg); }
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg); }
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); }
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg); }
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg); }
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg); }
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg); }
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s; }
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

.slide-panel {
	.close-button {
		position: absolute;
		left: -32px;
		top: 30px;
		border: 2px solid #288C32;
		border-radius: 5px 0 0 5px;
		border-right: none;
		background-color: white;
		width: 30px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		color: #288C32;
		box-sizing: content-box;

		&:hover {
			color: #39c647;
			cursor: pointer;
		}

		&:active {
			color: black;
		}

		.fa {
			line-height: inherit;
		}
	}
}

#comments-panel {
	display: none;
	position: fixed;
	top: 51px;
	bottom: 0;
	right: 0;
	width: 33vw;
	background-color: white;
	border-left: 3px solid #288C32;
	padding: 10px;
	overflow: visible;
	box-shadow: -5px 0 20px black;

	#comments-content {
		height: 100%;
		overflow: auto;
	}

	.panel-heading {
		span {
			font-size: 18px;
		}
	}

	.panel-body {
		padding-left: 0;
		padding-right: 0;
	}

	.form-group {
		margin-bottom: 15px;
	}

	#category {
		label.control-label {
			margin-right: 15px;
		}
	}

	#submit-comment {
	}

	.container-fluid {
		.form-control {
			width: 100%;
		}
	}

	button#delete-comment {
		margin-right: 15px;
		display: none;
	}

	.comment {
		.comment-name {
			font-weight: bold;
			color: #999;

			small {
				margin-left: 1em;
			}

			i {
				margin-left: 1em;
			}
		}

		.comment-text {
			padding-bottom: 15px;
			border-bottom: 1px solid #6EE0AF;
		}

		background-color: #D2F1D3;
		border-radius: 15px;
		padding: 15px;
		margin-top: 15px;
		margin-bottom: 15px;

		&.has-anchor {
			cursor: pointer;

			&:hover {
				background-color: #DBDAEA;
			}

			/*
			&:active {
				background-color: #7a7691;
			}
			*/
		}

		span.category {
			margin-left: 1em;

			&.techsupport {
				background-color: #9b9016;
			}

			&.authorfeedback {
				background-color: #35653c;
			}
		}

		span.reference {
			margin-left: .5em;
		}

		.comments-entry {
			margin-top: 25px;
			border: 3px solid #30844F;

			.anchor.checkbox {
				display: none;
			}

			button#delete-comment {
				display: block;
			}
		}

		.comment-name + .reply {
			margin-top: 3em;
		}

		&.reply {
			background-color: white;
		}
	}
}

#account-panel {
	display: none;
	position: fixed;
	top: 51px;
	bottom: 0;
	right: 0;
	width: 33vw;
	background-color: white;
	border-left: 3px solid #3072AB;
	padding: 10px;
	overflow: visible;
	box-shadow: -5px 0 20px black;

	.close-button {
		border-color: #3072AB;
		color: #3072AB;
	}

	.panel-heading {
		span {
			font-size: 18px;
		}
	}

	.panel-body {
	}
}

// hide the "Click here to view code image" things leftover from codeMantra ePubs
.codelink {
	display: none;
}

/* CUP styling overrides */

section.cup-new:before {
	left: 0;
	top: 0;
}